@model TatilSeyahatSitesiMVc.Models.Sinflar.İletisim

<div class="form">
    <form class="cmxform" id="contactForm" method="post">
        <div>
            <input type="text" class="textbox" name="AdSoyad" required="" placeholder="Ad Soyad">
        </div>
        <div>
            <input type="text" class="textbox" name="Mail" required="" placeholder="Mail">
        </div>
        <div>
            <input type="text" class="textbox" name="Konu" required="" placeholder="Konu">
        </div>
        <div class="form1">
            <div>
                <textarea name="Mesaj" required="" placeholder="Mesajınız..."></textarea>
            </div>
        </div>
        <div>
            <button class="read">Mesaj Gönder</button>
        </div>
    </form>
</div>




